<h1>Products</h1>

{{#if products.length}}
{{#each products}}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action action">
        <a href="/products/{{id}}" target="_blank">Open product</a>

        {{#if @root.isAuth}}
        <a href="/products/{{id}}/edit?allow=true" target="_blank">Edit</a>
        <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <input type="hidden" name="_csrf" value={{ @root.csrf }}>
          <button type="submit" class="btn btn-primary">Buy</button>
        </form>
        {{/if}}

      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<p>Products is empty</p>
{{/if}}