<h1>Edit {{product.title}}</h1>

<form action="/products/edit" method="POST" class="product-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{product.title}}">
    <label for="title">Product Name</label>
    <span class="helper-text" data-error="Enter name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{product.price}}">
    <label for="price">Product price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{product.img}}">
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter image URL"></span>
  </div>

  <input type="hidden" name="id" value="{{product.id}}">
  <input type="hidden" name="_csrf" value={{ @root.csrf }}>

  <button type="submit" class="btn btn-primary">Edit</button>
</form>

<form action="/products/remove" method="POST">
  <input type="hidden" name="id" value="{{product.id}}">
  <input type="hidden" name="_csrf" value={{ @root.csrf }}>
  <button class="btn red">Remove</button>
</form>